*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 0, 149);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    text-shadow: 1px 3px 3px rgb(0,0,0,0.3);
    animation: gradient 15s ease infinite;
}

    @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.content-card{
    position: relative;
    padding: 10px;
    width: 90%;
    height: 610px;
    border-radius: 20px;
    box-shadow: box-shadow: 2px 10px 10px 10px rgb(0,0,0,0.1);
    background-color: rgb(234, 236, 238,0.9);
    animation: bottoms 1.5s;
}

.hide1{
    display: none;
}

.number-bt{
    width: 245px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 99px;
    top: 15px;
    color: rgba(46, 72, 88, 0.9);
    left: 15px;
    background: rgb(234, 236, 238);
    box-shadow: none
    animation: left 1.5s;
}

.phone-number{
    font-size: 17px;
    white-space: nowrap;
}

.phone-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}

.love-bt{
    font-size: 27px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 45px;
    height: 45px;
    color: rgb(46, 134, 193,0.9);
    border-radius: 150px;
    background: rgb(234, 236, 238,0.9);
    box-shadow: box-shadow: 5px 5px 5px #bababa,
    -5px -5px 10px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-shadow: 2px 3px 3px rgb(0,0,0,0.2);
    animation: right 2s;
}


i{
    transition: 0.3s;
}

.plus-bt i:hover ,.love-bt i:hover{
    transform: scale(1.2,1.2);
}

.plus-bt{
    animation: left 2s;
    font-size: 27px;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 45px;
    height: 45px;
    color: rgb(46, 134, 193,0.9);
    border-radius: 90px;
    background: rgb(234, 236, 238,0.9);
    box-shadow: 
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 3px 3px rgb(0,0,0,0.2);
    transition: 0.7s;
    overflow: hidden;
}



.text-1{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Courier new', cursive; ;
    animation: bottoms 3s;
}

.text-2{
    font-size: 27px;
    text-align: center;
    color: rgb(0,0,0,0.7);
    animation: right 1.5s;
    /* font-family: 'Bungee', cursive; */
}

.img-space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 3px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-img{
    border: 5px solid rgb(234, 236, 238,0.9);
    width: 240px;
    height: 240px;
    box-shadow: 10px 10px 20px #9e9e9e,
    -10px -10px 20px #ffffff;
    border-radius: 150px;
    background: url(image/main4.jpg) center/cover;
    transition: 0.5s;
    animation: bottoms 2s;
}

.main-img:hover{
    transform: scale(1.2,1.2);
    border-radius: 20px;
}

.hide{
    display: none;
}

.content{
    margin-top: 15px;
    /* border: 3px red solid; */
}

li{
    list-style: none;
}

.li-bt1{
    width: 345px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: rgb(46, 134, 193);
    font-size: 16px;
    text-shadow: 1px 3px 3px rgb(0,0,0,0.2);
    transition: 0.5s ease;
}

.link:hover button{
    color: rgb(234, 236, 238);
    background:  rgb(133, 193, 233);
    transform: scale(1.1,1.1);
    box-shadow: none;
}

.li-bt2{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 90px;
    border: none;
    box-shadow: none;
    color: rgb(46, 134, 193,0.9);
    text-shadow: 1px 3px 3px rgb(0,0,0,0.3);
    font-size: 16px;
    transition: 0.5s ease;
    animation: top 2s;
}

.big-bt{
    position: absolute;
    width: 70px;
    height: 150px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    bottom: 75px;
    right: 10px;
    transition: 0.5s ease;
    color: rgb(46, 134, 193,0.8);
    text-shadow: 1px 3px 3px rgb(0,0,0,0.2);
    font-size: 17px;
    animation: right 2s;
}

.tiktok-icon{
    font-size: 35px;
}

.big-bt:hover,.li-bt2:hover{
    color: rgb(234, 236, 238);
    background:  rgb(133, 193, 233);
    transform: scale(1.1,1.1);
    box-shadow: none;
}

.hide2{
    display: none;
}

.first{
    color: rgb(46, 134, 193,0.8);
    position: absolute;
    text-align: center;
    top: 30px;
    font-size: 13px;
    text-shadow: none;
}

.last{
    color: rgb(46, 134, 193,0.8);
    position: absolute;
    text-align: center;
    bottom: 30px;
    font-size: 13px;
    text-shadow: none;
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Bungee', cursive;
font-family: 'Square Peg', cursive; */

.bt1{
    animation: left 3s;
}

.bt2{
    animation: left 2s;
}

.bt3{
    animation: left 1s;
}




@keyframes bottoms{
    0%{
        opacity: 0;
        transform: translate(0,-100px);
    }


    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes top{
        0%{
            opacity: 0;
            transform: translate(0,+100px);
        }
    
    
        100%{
            opacity: 1;
            transform: translate(0,0);
        }
}

@keyframes right{
    0%{
        opacity: 0;
        transform: translate(+100px,0);
    }


    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes left{
    0%{
        opacity: 0;
        transform: translate(-100px,0);
    }


    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
